body {
  background-color: rgb(30, 30, 97);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qrcode {
  background-color: #fff;
  padding: 1em;
  border: #fff solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-bottom: 1.5em;
}

.input {
  border-radius: 1em;
  padding: 0.8em;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  outline: none;
  border: 3px solid #b6b6b6
}

.btn-download {
  border-radius: 1em;
  background-color: rgb(2, 220, 60);
  padding: 0.2em;
  max-width: 3em;
  height: 2em;
  width: 100%;
  border: 3px solid #0ae99b57;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-left: 0.2em;
  cursor: pointer;
  text-decoration: none;
}